package item

import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"
import ahtempl "github.com/a-h/templ"

templ ItemGroup(className string, children ahtempl.Component) {
	<div role="list" data-slot="item-group" class={ classnames.CN("group/item-group flex flex-col", className) }>
		if children != nil {
			@children
		}
	</div>
}
