package item

import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"
import ahtempl "github.com/a-h/templ"

templ ItemFooter(className string, children ahtempl.Component) {
	<div data-slot="item-footer" class={ classnames.CN("flex basis-full items-center justify-between gap-2", className) }>
		if children != nil {
			@children
		}
	</div>
}
