package item

import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"
templ ItemSeparator(className string) {
	<div data-slot="item-separator" role="separator" data-orientation="horizontal" class={ classnames.CN("my-0", className) }></div>
}
