package item

import ahtempl "github.com/a-h/templ"

templ ItemMedia(variant string, className string, children ahtempl.Component) {
	<div data-slot="item-media" data-variant={ mediaVariant(variant) } class={ mediaClass(variant, className) }>
		if children != nil {
			@children
		}
	</div>
}
