package item

import ahtempl "github.com/a-h/templ"

templ Item(variant string, size string, className string, children ahtempl.Component) {
	<div data-slot="item" data-variant={ itemVariant(variant) } data-size={ itemSize(size) } class={ itemClass(variant, size, className) }>
		if children != nil {
			@children
		}
	</div>
}
