package buttongroup

import ahtempl "github.com/a-h/templ"

templ ButtonGroupText(className string, children ahtempl.Component) {
	<div data-slot="button-group-text" class={ buttonGroupTextClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
