package dialog

import ahtempl "github.com/a-h/templ"

templ Dialog(open bool, children ahtempl.Component) {
	if open && children != nil {
		<div data-slot="dialog" data-state="open">
			@children
		</div>
	}
}
