package dialog

import ahtempl "github.com/a-h/templ"

templ DialogTitle(className string, children ahtempl.Component) {
	<h2 data-slot="dialog-title" class={ titleClass(className) }>
		if children != nil {
			@children
		}
	</h2>
}
