package dialog

import ahtempl "github.com/a-h/templ"

templ DialogFooter(className string, children ahtempl.Component) {
	<div data-slot="dialog-footer" class={ footerClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
