package dialog

import ahtempl "github.com/a-h/templ"

templ DialogHeader(className string, children ahtempl.Component) {
	<div data-slot="dialog-header" class={ headerClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
