package resizable

import ahtempl "github.com/a-h/templ"

templ ResizablePaneGroup(directionValue string, className string, children ahtempl.Component) {
	<div data-slot="resizable-pane-group" data-direction={ direction(directionValue) } class={ paneGroupClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
