package tabs

import ahtempl "github.com/a-h/templ"

templ TabsList(className string, children ahtempl.Component) {
	<div role="tablist" data-slot="tabs-list" class={ listClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
