package tabs

import ahtempl "github.com/a-h/templ"

templ Tabs(value string, className string, children ahtempl.Component) {
	<div data-slot="tabs" data-value={ value } class={ tabsClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
