package tabs

import ahtempl "github.com/a-h/templ"

templ TabsContent(value string, active bool, className string, children ahtempl.Component) {
	<div role="tabpanel" data-slot="tabs-content" data-value={ value } data-state={ state(active) } class={ contentClass(className) } hidden?={ !active }>
		if children != nil {
			@children
		}
	</div>
}
