package selectui

import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"
import ahtempl "github.com/a-h/templ"

templ SelectGroup(className string, children ahtempl.Component) {
	<div data-slot="select-group" role="group" class={ classnames.CN(className) }>
		if children != nil {
			@children
		}
	</div>
}
