package selectui

import ahtempl "github.com/a-h/templ"

templ Select(open bool, value string, children ahtempl.Component) {
	<div data-slot="select" data-state={ state(open) } data-value={ value }>
		if children != nil {
			@children
		}
	</div>
}
