package toggle

import ahtempl "github.com/a-h/templ"

templ Toggle(pressed bool, variant string, size string, className string, disabled bool, children ahtempl.Component) {
	<button type="button" data-slot="toggle" data-state={ state(pressed) } aria-pressed={ pressed } class={ toggleClass(variant, size, className) } disabled?={ disabled }>
		if children != nil {
			@children
		}
	</button>
}
