package streamdown

templ SvelteStreamdown(text string, className string) {
	<div class={ "size-full whitespace-normal " + className }>
		<div class="min-w-0 whitespace-pre-wrap break-words" data-markdown-block="0">{ text }</div>
	</div>
}
