package collapsible

import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"
import ahtempl "github.com/a-h/templ"

templ Collapsible(open bool, className string, children ahtempl.Component) {
	<div data-slot="collapsible" data-state={ collapsibleState(open) } class={ classnames.CN(className) }>
		if children != nil {
			@children
		}
	</div>
}
