package collapsible

import ahtempl "github.com/a-h/templ"

templ CollapsibleTrigger(open bool, disabled bool, className string, children ahtempl.Component) {
	<button type="button" data-slot="collapsible-trigger" data-state={ collapsibleState(open) } aria-expanded={ open } class={ joinClass(className) } disabled?={ disabled }>
		if children != nil {
			@children
		}
	</button>
}
