package alertdialog

import ahtempl "github.com/a-h/templ"

templ AlertDialogPortal(children ahtempl.Component) {
	<div data-slot="alert-dialog-portal">
		if children != nil {
			@children
		}
	</div>
}
