package alertdialog

import ahtempl "github.com/a-h/templ"

templ AlertDialog(open bool, children ahtempl.Component) {
	if open && children != nil {
		<div data-slot="alert-dialog" data-state="open">
			@children
		</div>
	}
}
