package alertdialog

import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"
import ahtempl "github.com/a-h/templ"

templ AlertDialogTitle(className string, children ahtempl.Component) {
	<div data-slot="alert-dialog-title" class={ classnames.CN("text-lg font-semibold", className) }>
		if children != nil {
			@children
		}
	</div>
}
