package alertdialog

import ahtempl "github.com/a-h/templ"

templ AlertDialogTrigger(className string, children ahtempl.Component) {
	<button type="button" data-slot="alert-dialog-trigger" class={ joinClass("", className) } data-alert-dialog-trigger>
		if children != nil {
			@children
		}
	</button>
}
