package alertdialog

import ahtempl "github.com/a-h/templ"

templ AlertDialogHeader(className string, children ahtempl.Component) {
	<div data-slot="alert-dialog-header" class={ joinClass("flex flex-col gap-2 text-center sm:text-start", className) }>
		if children != nil {
			@children
		}
	</div>
}
