package alertdialog

import ahtempl "github.com/a-h/templ"

templ AlertDialogCancel(className string, children ahtempl.Component) {
	<button type="button" data-slot="alert-dialog-cancel" class={ buttonClass("outline", className) } data-alert-dialog-cancel>
		if children != nil {
			@children
		}
	</button>
}
