package sheet

import ahtempl "github.com/a-h/templ"

templ SheetHeader(className string, children ahtempl.Component) {
	<div data-slot="sheet-header" class={ headerClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
