package sheet

import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"
import ahtempl "github.com/a-h/templ"

templ SheetClose(className string, children ahtempl.Component) {
	<button type="button" data-slot="sheet-close" class={ classnames.CN(className) }>
		if children != nil {
			@children
		}
	</button>
}
