[Unit]
Description=Restore staged Nix installation
Requires=discboeing-sandbox-init.service
After=discboeing-sandbox-init.service
Before=nix-daemon.socket nix-daemon.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restore-nix-staging
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
