[Unit]
Description=Persistent /tmp bind mount
DefaultDependencies=no
Requires=discboeing-persistent-tmp-prepare.service
After=discboeing-persistent-tmp-prepare.service
Before=local-fs.target systemd-tmpfiles-setup.service discboeing-sandbox-init.service
Conflicts=umount.target

[Mount]
What=/.data/tmp
Where=/tmp
Type=none
Options=bind,rw

[Install]
WantedBy=local-fs.target
