package nativeselect

import ahtempl "github.com/a-h/templ"

templ NativeSelectOptGroup(label string, disabled bool, children ahtempl.Component) {
	<optgroup data-slot="native-select-opt-group" label={ label } disabled?={ disabled }>
		if children != nil {
			@children
		}
	</optgroup>
}
