package badge

import ahtempl "github.com/a-h/templ"

templ Badge(variant string, className string, href string, children ahtempl.Component) {
	if href != "" {
		<a data-slot="badge" href={ ahtempl.SafeURL(href) } class={ badgeClass(variant, className) }>
			if children != nil {
				@children
			}
		</a>
	} else {
		<span data-slot="badge" class={ badgeClass(variant, className) }>
			if children != nil {
				@children
			}
		</span>
	}
}
