package popover

import ahtempl "github.com/a-h/templ"

templ PopoverTrigger(className string, children ahtempl.Component) {
	@PopoverTriggerAttrs(className, false, nil) {
		{ children... }
	}
}

templ PopoverTriggerAttrs(className string, disabled bool, attrs ahtempl.Attributes) {
	<button { attrs... } type="button" data-slot="popover-trigger" class={ joinClass(className) } disabled?={ disabled }>
		{ children... }
	</button>
}
