package inputgroup

import ahtempl "github.com/a-h/templ"

templ InputGroupButton(buttonTypeValue string, variant string, size string, className string, disabled bool, children ahtempl.Component) {
	<button type={ buttonType(buttonTypeValue) } data-size={ buttonSize(size) } data-variant={ variant } class={ buttonClass(size, className) } disabled?={ disabled }>
		if children != nil {
			@children
		}
	</button>
}
