package inputgroup

templ InputGroupInput(inputTypeValue string, value string, placeholder string, name string, className string, disabled bool, required bool, invalid bool) {
	<input data-slot="input-group-control" class={ inputClass(className) } type={ inputType(inputTypeValue) } value={ value } placeholder={ placeholder } name={ name } disabled?={ disabled } required?={ required } aria-invalid?={ invalid } />
}
