package inputgroup

import ahtempl "github.com/a-h/templ"

templ InputGroupText(className string, children ahtempl.Component) {
	<span class={ textClass(className) }>
		if children != nil {
			@children
		}
	</span>
}
