package inputgroup

import "fmt"
import ahtempl "github.com/a-h/templ"

templ InputGroup(className string, disabled bool, children ahtempl.Component) {
	<div data-slot="input-group" data-disabled={ fmt.Sprint(disabled) } role="group" class={ groupClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
