package message

import ahtempl "github.com/a-h/templ"
import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"

templ MessageActions(className string, children ahtempl.Component) {
	<div class={ classnames.CN("flex items-center gap-1", className) }>
		if children != nil {
			@children
		}
	</div>
}
