package dropdownmenu

import ahtempl "github.com/a-h/templ"

templ DropdownMenuSub(open bool, children ahtempl.Component) {
	<div data-slot="dropdown-menu-sub" data-state={ state(open) }>
		if children != nil {
			@children
		}
	</div>
}
