package dropdownmenu

import ahtempl "github.com/a-h/templ"

templ DropdownMenuPortal(children ahtempl.Component) {
	<div data-slot="dropdown-menu-portal">
		if children != nil {
			@children
		}
	</div>
}
