package dropdownmenu

import ahtempl "github.com/a-h/templ"

templ DropdownMenuSubContent(open bool, side string, className string, children ahtempl.Component) {
	<div data-slot="dropdown-menu-sub-content" data-state={ state(open) } data-side={ side } class={ subContentClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
