package dropdownmenu

import ahtempl "github.com/a-h/templ"

templ DropdownMenuItem(inset bool, itemVariant string, disabled bool, className string, children ahtempl.Component) {
	<div data-slot="dropdown-menu-item" data-inset={ boolString(inset) } data-variant={ variant(itemVariant) } data-disabled?={ disabled } class={ itemClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
