package dropdownmenu

import ahtempl "github.com/a-h/templ"

templ DropdownMenuGroup(className string, children ahtempl.Component) {
	<div data-slot="dropdown-menu-group" role="group" class={ joinClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
