package icons

templ GithubIcon(className string, title string) {
	<svg aria-label={ iconTitle(title, "GitHub") } class={ iconClass(className) } role="img" viewBox="0 0 24 24">
		<title>{ iconTitle(title, "GitHub") }</title>
		<path fill="currentColor" d={ githubPath }></path>
	</svg>
}
