package card

import ahtempl "github.com/a-h/templ"

templ Card(className string, children ahtempl.Component) {
	<div data-slot="card" class={ cardClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
