package card

import ahtempl "github.com/a-h/templ"

templ CardDescription(className string, children ahtempl.Component) {
	<p data-slot="card-description" class={ cardDescriptionClass(className) }>
		if children != nil {
			@children
		}
	</p>
}
