package card

import ahtempl "github.com/a-h/templ"

templ CardTitle(className string, children ahtempl.Component) {
	<div data-slot="card-title" class={ cardTitleClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
