package card

import ahtempl "github.com/a-h/templ"

templ CardContent(className string, children ahtempl.Component) {
	<div data-slot="card-content" class={ cardContentClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
