package card

import ahtempl "github.com/a-h/templ"

templ CardFooter(className string, children ahtempl.Component) {
	<div data-slot="card-footer" class={ cardFooterClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
