package contextmenu

import ahtempl "github.com/a-h/templ"

templ ContextMenuTrigger(className string, children ahtempl.Component) {
	<div data-slot="context-menu-trigger" class={ joinClass(className) }>
		if children != nil {
			@children
		}
	</div>
}
