package contextmenu

import ahtempl "github.com/a-h/templ"

templ ContextMenuContent(open bool, side string, className string, children ahtempl.Component) {
	<div data-slot="context-menu-portal">
		<div data-slot="context-menu-content" data-state={ state(open) } data-side={ side } class={ contentClass(className) }>
			if children != nil {
				@children
			}
		</div>
	</div>
}
