package contextmenu

import ahtempl "github.com/a-h/templ"

templ ContextMenu(open bool, children ahtempl.Component) {
	<div data-slot="context-menu" data-state={ state(open) }>
		if children != nil {
			@children
		}
	</div>
}
