package app

import (
	"github.com/obot-platform/discobot/discobot/content/components/helpers"
	appui "github.com/obot-platform/discobot/discobot/content/components/ui"
	"github.com/obot-platform/discobot/discobot/internal/state"
)

templ SessionsSidebarFilterMenu(view state.View) {
	@appui.Menu(helpers.SessionsSidebarFilterMenu(view, IconSliders("icon-sm")))
}
