package app

templ SessionsSidebarFooter() {
	<div class="sessions-sidebar--footer">
		<div class="sessions-sidebar--footer-row">
			<span class="sessions-sidebar--footer-title">Customizations</span>
		</div>
		<a class="sessions-sidebar--footer-link" href="http://localhost:3100/">Old UI</a>
	</div>
}
