package app

import (
	appui "github.com/obot-platform/discobot/discobot/content/components/ui"
	"github.com/obot-platform/discobot/discobot/internal/state"
)

templ SessionsSidebarFilterMenu(view state.View) {
	@appui.Menu(sessionsSidebarFilterMenu(view))
}
