package app

templ SessionsSidebarFooter() {
	<div class="sessions-sidebar__footer">
		<div class="sessions-sidebar__footer-row">
			<span class="sessions-sidebar__footer-title">Customizations</span>
			<span class="sessions-sidebar__footer-count">23</span>
			@IconChevronRight("icon-sm sessions-sidebar__footer-icon")
		</div>
	</div>
}
