package app

templ TreeFile(icon FileIcon, name string) {
	<div class="tree-row">
		switch icon {
			case FileIconDocker:
				@IconDocker("icon-xs icon-file")
			case FileIconGear:
				@IconGear("icon-xs icon-file")
			case FileIconDiamond:
				@IconDiamond("icon-xs icon-file")
			case FileIconText:
				@IconText("icon-xs icon-file")
			case FileIconArrow:
				@IconArrowDown("icon-xs icon-file")
		}
		<span>{ name }</span>
	</div>
}
