package app

templ WindowChromeCommandSpinner() {
	<div class="window-chrome-command-spinner" role="status" aria-label="Command in progress">
		<span class="window-chrome-command-spinner--dot"></span>
	</div>
}
