package codeblock

import ahtempl "github.com/a-h/templ"
import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"

templ CodeBlockHeader(className string, children ahtempl.Component) {
	<div class={ classnames.CN("flex items-center justify-between bg-muted/80 px-3 py-2 text-muted-foreground text-xs", className) }>
		if children != nil {
			@children
		}
	</div>
}
