package codeblock

import ahtempl "github.com/a-h/templ"
import selectui "github.com/obot-platform/discobot/ui-go/content/lib/components/ui/select"

templ CodeBlockLanguageSelectorTrigger(className string, children ahtempl.Component) {
	<div data-code-block-language-selector-trigger="true">
		@selectui.SelectTrigger("sm", classNames("h-7 rounded-md border-none bg-transparent px-2 text-xs shadow-none", className), false, false, children)
	</div>
}
