package codeblock

import ahtempl "github.com/a-h/templ"

templ CodeBlockLanguageSelectorValue(className string, children ahtempl.Component) {
	<span class={ classNames("line-clamp-1 flex items-center gap-2", className) } data-slot="select-value">
		if children != nil {
			@children
		}
	</span>
}
