package codeblock

templ CodeBlockContent(code string, showLineNumbers bool, className string) {
	<div class="relative overflow-auto">
		<pre class={ classNames("m-0 whitespace-normal p-4 text-sm", className) }><code class={ codeElementClass(showLineNumbers) }>
			for _, line := range codeLines(code) {
				<span class={ codeLineClass(showLineNumbers) }>{ line }</span>
			}
		</code></pre>
	</div>
}
