package codeblock

import ahtempl "github.com/a-h/templ"
import selectui "github.com/obot-platform/discobot/ui-go/content/lib/components/ui/select"

templ CodeBlockLanguageSelectorContent(children ahtempl.Component) {
	@selectui.SelectContent(false, "bottom", 4, "", children)
}
