package hovercard

import "github.com/obot-platform/discobot/ui-go/content/lib/classnames"
import ahtempl "github.com/a-h/templ"

templ HoverCardTrigger(className string, children ahtempl.Component) {
	<span data-slot="hover-card-trigger" class={ classnames.CN(className) }>
		if children != nil {
			@children
		}
	</span>
}
