package kbd

import ahtempl "github.com/a-h/templ"

templ Kbd(className string, children ahtempl.Component) {
	<kbd data-slot="kbd" class={ kbdClass(className) }>
		if children != nil {
			@children
		}
	</kbd>
}
