package kbd

import ahtempl "github.com/a-h/templ"

templ KbdGroup(className string, children ahtempl.Component) {
	<kbd data-slot="kbd-group" class={ joinClass("inline-flex items-center gap-1", className) }>
		if children != nil {
			@children
		}
	</kbd>
}
