package tool

import ahtempl "github.com/a-h/templ"

templ ToolContent(view View, className string, children ahtempl.Component) {
	if view.Open {
		<div class={ classNames("data-[state=closed]:fade-out-0 data-[state=closed]:slide-out-to-top-2 data-[state=open]:slide-in-from-top-2 text-popover-foreground outline-none data-[state=closed]:animate-out data-[state=open]:animate-in", className) } data-state="open">
			if children != nil {
				@children
			}
		</div>
	}
}
