package alert

import ahtempl "github.com/a-h/templ"

templ Alert(variant string, className string, children ahtempl.Component) {
	<div data-slot="alert" role="alert" class={ alertClass(variant, className) }>
		if children != nil {
			@children
		}
	</div>
}
