package attachments

import ahtempl "github.com/a-h/templ"

templ Attachment(attachment AttachmentView, className string, children ahtempl.Component) {
	<div class={ attachmentClass(attachment.Variant, className) } data-attachment-id={ attachment.Data.ID } data-attachment-type={ attachment.Data.Type }>
		if children != nil {
			@children
		}
	</div>
}
