package attachments

import ahtempl "github.com/a-h/templ"
import hovercard "github.com/obot-platform/discobot/ui-go/content/lib/components/ui/hover-card"

templ AttachmentHoverCardTrigger(children ahtempl.Component) {
	@hovercard.HoverCardTrigger("", children)
}
